body {
    font-family: sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2018/04/21/11/02/the-company-3338207_1280.jpg");
    background-size: 100% 100%;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

#header {
    background-color: black;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.80;
    opacity: 0.80;
    /*Opacity end*/
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;
}

    #header #header-content {
        margin: 10px;
    }

#main {
    height: 48px;
    background-color: cadetblue;
    line-height:48px;
}


#info1{
    float:left;
}


#info2{
    float: right;
}

#info2 a:hover{
    color:white;
    background-color:red;
}


.meue{
    display:inline-block;
    color:navajowhite;
}


head {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffe6;
    font-size: 0.2em;
}


a {
    color: #330066;
}


h1, h2 {
    font-family: Corbel;
    color: black;
    margin-top: 56px;
}


h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.5em;
}

.myheader {
    font-family: sans-serif;
    color: #FF4500;
    font-size: 1.5em;
}

.link {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #F0FFFF;
    font-size: 1.0em;
    padding-left: 0.26em;
    margin-left: 0.26em;
}

.link1 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #F0FFFF;
    font-size: 1.0em;
    padding-left: 0.20em;
    margin-left: 0.20em;
    float:right
}

.page {
    margin: 2em auto;
    width: 35em;
    border: 5px solid #ccc;
    padding: 0.8em;
    background: white;
}

.entries {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .entries li {
        margin: 0.8em 1.2em;
    }

        .entries li h2 {
            margin-left: -1em;
        }

.add-entry {
    font-size: 0.9em;
    border-bottom: 1px solid #ccc;
}

    .add-entry dl {
        font-weight: bold;
    }

.metanav {
    text-align: right;
    font-size: 0.8em;
    padding: 0.3em;
    margin-bottom: 1em;
    background: #fafafa;
}

.flash {
    background: #cee5F5;
    padding: 0.5em;
    border: 1px solid #aacbe2;
}

.error {
    background: #f0d6d6;
    padding: 0.5em;
}
