<html>
<head>
    {% if title %}
    <title>{{ title }} - Crypto Simulator</title>
    {% else %}
    <title>Welcome to the Crypto Simulator</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="/static/css/reset.css?q=1280549780" type="text/css" media="screen" charset="utf-8" />
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
</head>
    <body>
        <div>
            <h1  class="myheader">Crypto Simulator</h1>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('start_simulation') }}">Historical Price</a>
            <a href="{{ url_for('index') }}">Implied Volatility</a>
            <a href="{{ url_for('ivsurf') }}">Implied Volatility Surface</a>
            <a href="{{ url_for('exchangeForm') }}">AJAX Example</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
            <p>Bitcoin Current Index: ${{ price }}</p>
            <img src="https://akm-img-a-in.tosshub.com/indiatoday/bitcoin-647_113017045245.jpg">
        {% endblock %}
    </body>
</html>