<html>
<head>
    {% if title %}
    <title>{{ title }} - Crypto Simulator</title>
    {% else %}
    <title>Welcome to the Crypto Simulator</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="/static/css/reset.css?q=1280549780" type="text/css" media="screen" charset="utf-8" />
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
</head>
<body>
    <div id="header">
        <div id="header-content">
            <a class="myheader ">Crypto Simulator</a>
            <a class="link" href="{{ url_for('home') }}" style="text-decoration:none;">Home</a>
            <a class="link" href="{{ url_for('start_simulation') }}" style="text-decoration:none;">Historical Price</a>
            <a class="link" href="{{ url_for('index') }}" style="text-decoration:none;">Implied Volatility</a>
            <a class="link" href="{{ url_for('ivsurf') }}"  style="text-decoration:none;">Implied Volatility Surface</a>
            <a class="link" href="{{ url_for('hedging') }}" style="text-decoration:none;">Hedging Simulator</a>
            <a class="link" href="{{ url_for('exchangeForm') }}" style="text-decoration:none;">AJAX</a>
            {% if current_user.is_anonymous %}
            <a class="link1"  herf="{{ url_for('login') }}" style="text-decoration:none;">Login</a>
            {% else %}
            <a class="link1"  href="{{ url_for('logout') }}" style="text-decoration:none;">Logout</a>
            {% endif %}
        </div>
    </div>
    <br />
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}
        <p>Bitcoin Current Index: ${{ price }}</p>
    {% endblock %}
</body>
</html>