{% extends "base.html" %}

{% block content %}
<head>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
</head>

<h2>Hedge Simulator</h2>
<div> Strategy: {{strategy}}.   Current Bitcoin Index: ${{price}}</div>
<div> Maturity: {{Maturity}}.   Strike Price: ${{strike}}</div>
<div> Maximum Loss: ${{max_loss}}.   Expected Payoff: ${{exp_pay}}</div>
<div> Implied Probability of Positive Payoff: {{prob}}%</div>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>

<div style="width: 40%; display: inline-block;">
    {{ div|safe }}
    {{ script|safe }}
</div>

<div style="width: 20%; display: inline-block;">
    {{ div2|safe }}
    {{ script2|safe }}
</div>

{% endblock %}
