{% extends "base.html" %}
{% block content %}
<!--
<h2>What's your name?</h2>
<form action="/hello" method="post">
    <dl>
        {{ form.sayhello }}
    </dl>
    <p> {{ form.submit() }} </p>
</form>

<h2>Draw a Bar Graph</h2>
<form action="/chart" method="post">
    <dl>
        {{ form.barc }}
    </dl>
    <p> {{ form.showme() }} </p>
</form>
    -->
<form action="/option" method="post">
    <h2> User Input </h2>
    {{ form.hidden_tag() }}
    <p>
        {{ form.Otype.label }}<br>
        {{ form.Otype }}<br>
        {% for error in form.Otype.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.Hratio.label }}<br>
        {{ form.Hratio(size=32) }}<br>
        {% for error in form.Hratio.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.ExpT_id.label }}<br>
        {{ form.ExpT_id }}<br>
        {% for error in form.ExpT_id.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.K.label }}<br>
        {{ form.K(size=32) }}<br>
        {% for error in form.K.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.rate.label }}<br>
        {{ form.rate(size=32) }}<br>
        {% for error in form.rate.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p> {{ form.submit() }} </p>
</form>

        {% endblock %}
