{% extends "base.html" %}
{% block content %}

<form action="/option" method="post">
    <h2> User Input </h2>
    {{ form.hidden_tag() }}
    <p>
        {{ form.Otype.label }}<br>
        {{ form.Otype }}<br>
        {% for error in form.Otype.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.ExpT_id.label }}<br>
        {{ form.ExpT_id }}<br>
        {% for error in form.ExpT_id.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p> {{ form.submit() }} </p>
</form>

        {% endblock %}
