{% extends "base.html" %}
{% block content %}

<form action="/simulation" method="post">
    <h2> Cryptocurrency Data Display</h2>

    <p>
        {{ form.start.label }}<br>
        {{ form.start }}<br />
        {% for error in form.start.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.end.label }}<br>
        {{ form.end }}
        {% for error in form.end.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p> {{ form.submit() }} </p>
</form>
        {% endblock %}

